.body {
  color: white;
}

.buy-button {
  width: 200px;
  height: 55px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.descr {
  color: var(--secondary-color);
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.wiper-slide {
  height: 100%;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 25px;
  background-color: #010101;
}

.slide-one {
  position: relative;
  background: var(--card-shadow), url('../images/slide-one-img.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 198px;
}

.icon-button {
  position: absolute;
  background-color: var(--icon-button-color);
  border: none;
}

.burger-button {
  width: 16px;
  height: 16px;
  top: 15px;
  left: 15px;
}

.arrow-button {
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  width: 14px;
  height: 14px;
}

.slide-two {
  padding-top: 60px;
  background-image: var(--bottom-shadow), url(../images/iPhone.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

.slide-three {
  padding-top: 36px;
  padding-right: 30px;
  background-image: var(--card-shadow), url(../images/slide-three.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 8px solid var(--accent-color);
  background-position: 50%;
}

.prepay {
  margin-bottom: 109px;
}

.prepay .descr {
  margin-bottom: 5px;
}

.films {
  margin-bottom: 40px;
}

.films .descr {
  color: var(--primary-color);
}

.try-section .main-title {
  margin-bottom: 16px;
}

.try-button {
  margin-bottom: 10px;
}

.price-descr {
  width: 160px;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 0.83px;
  color: var(--secondary-color);
}

.slide-four {
  padding-top: 92px;
  padding-right: 16px;
  background-image: var(--bottom-shadow), url(../images/advertising.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 50%;
  background-position-y: 80%;
}

.slide-five {
  padding-top: 100px;
  padding-right: 25px;
}

.slide-five h3 {
  max-width: 300px;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 40px;
  margin-top: 30px;
  margin-bottom: 52px;
  max-width: 420px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.item .item-header {
  font-size: 20px;
  font-weight: 500;
}

.item .descr {
  color: var(--primary-color);
}
