.body {
  color: white;
}

/* .title {

} */

.descr {
  color: var(--secondary-color);
}

.swiper {
  width: 100vw;
  height: 100vh;
}
.wiper-slide {
  height: 100%;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  padding: 50px;
}

.slide-one {
  position: relative;
  background: var(--card-shadow), url('../images/slide-one-img.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 30%;
}

.icon-button {
  position: absolute;
  background-color: var(--icon-button-color);
  border: none;
}

.burger-button {
  width: 16px;
  height: 16px;
  top: 15px;
  left: 15px;
}

.arrow-button {
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  width: 14px;
  height: 14px;
}

.slide-two {
  background: var(--card-shadow), url('../images/merlin.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
  padding: 30% 10%;
}

.slide-three {
  background: var(--card-shadow), url('../images/japanfilm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 8px solid var(--accent-color);
  background-position: 50%;
}
